<% content_for :title, "Edit Tape" %>


<h1>Editing Backupset</h1>

<% form_for(@tape) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :note %><br/>
    <%= f.text_area :note %>
  </p>

  <p>
    <%= f.label :testcase %><br />
    <%= f.text_field :testcase %>
  </p>

  <p>
    <%= f.label :bug %><br />
    <%= f.text_field :bug %>
  </p>

  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tape %> |
<%= link_to_function 'Back', "history.back()" %>
