<% content_for :title, "Edit Tape" %>


<h1>Editing Tape</h1>

<% form_for (@tape), :url => {:action => :updatetape} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :voltag %><br />
    <%= f.text_field :voltag %>
  </p>
  <p>
    <%= f.label :tapelabel %><br />
    <%= f.text_field :tapelabel %>
  </p>
  <p>
    <%= f.label :bformat, "Backup Format: " %><br/>
    <%= f.collection_select :bformat, Tape::BFORMATS, :to_s, :to_s, :include_blank => true
    %>
  </p>
  <p>
    <%= f.label :note %><br/>
    <%= f.text_field :note %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to_function 'Back', "history.back()" %>
