<% content_for :title, "Tape Database" %>

<h1> Search For a Tape </h1>
<p> Fill out as many or as little fields as you wish <p/>

<% form_for (@tapes), :url => {:action => :search} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :id, "Tape Database ID: " %><br/>
    <%= f.text_field :id %>
  </p> 
  <p>
    <%= f.label :bsid, "Backupset ID:" %><br />
    <%= f.text_field :bsid %>
  </p>
  <p>
    <%= f.label :server, "Server Name: " %><br/>
    <%= f.text_field :server %>
  </p>
  <p>
    <%= f.label :voltag, "Volume Tag: " %><br/>
    <%= f.text_field :voltag %>
  </p>
  <p>
    <%= f.label :bformat, "Backup Format: " %><br/>
    <%= f.collection_select :bformat, Tape::BFORMATS, :to_s, :to_s, :include_blank => true
    %>
  </p>

  <p>
   <%= f.label :btype, "Backup Type: " %><br/>
   <%= f.collection_select :btype, Tape::BTYPES, :to_s, :to_s, :include_blank => true
    %>
  </p>

    <p>
   <%= f.label :btype, "Backup Client: " %><br/>
   <%= f.collection_select :bclient, Tape::BCLIENTS, :to_s, :to_s, :include_blank => true
    %>
  </p>
  <p>
  <%= f.label "Test Case #" %><br/>
  <%= f.text_field :testcase %>
  </p>
  <p>
  <%= f.label :note, "Notes: " %><br/>
  <%= f.text_area :note, :rows => 7 %>
  </p>
    
  <p>
    <%= f.submit 'Search' %>
  </p>
<% end %>
 
 
<!%= link_to 'Browse All', :action = "listall" %>
<%= link_to ' New', :action => "new" %>

