<% content_for :title, "Search Results" %>


<h1>Your Results</h1>

<p>
  <b> Number of Tapes: </b>
  <%= @tapes.size %><br/> 
</p>

<table>
  <tr>
    <th></th>
    <th>Voltag</th>
    <th></th>
    <th>Tape Label</th>
    <th></th>
    <th>Backup Format</th>
    <th></th>
    <th>Revision</th>
    <th></th>
    <th>Size</th>
    <th></th>
    <th> Backupsets</th>
    <th></th>
    <th>Notes</th>
  </tr>




<% @tapes.each do |tape| %>
  <tr>
    <% vol = tape.voltag %>
    <% i = 0 %>

    <Calculating # of bsets >
    <%  @backupsets.each do  |b| %>
    <%   if b.voltag == "#{vol}" %>
    <%   i = i + 1  %>
    <%   end %>
    <%  end  %>
    
   <td> <%= link_to 'Save', :voltag => tape.voltag, :controller => 'saved_tapes' %></td>
    <td><%=h tape.voltag %></td>
    <td>- -</td>
    <td><%=h tape.tapelabel %></td>
    <td>------</td>
    <td><%=h tape.bformat %></td>
    <td></td>
    <td><%=h tape.rev %></td>
    <td></td>
    <td><%=h number_to_human_size(tape.size) %></td>
    <td>------</td>
    <td><%=h i %></td>
    <td>------</td>
    <td><%=h tape.note %></td>
    <td><%= link_to 'Details', :voltag => tape.voltag, :controller => 'saved_tapes', :action => :yourtape %></td>
    <td><%= link_to 'Edit', :id => tape.id, :action => 'edittape' %></td>
    <td><%= link_to ('Playback', "http://192.168.192.74/#{tape.voltag}") %></td>
    <% if session[:user_id] == 'admin' then %>
    <td><%= link_to 'Destroy', tape, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<hr>
<%= will_paginate @tapes, :params => {:search => params[:search]} %>
<hr/>




