<% content_for :title, "Search Results" %>


<h1>Your Results</h1>

<p>
  <b> Number of Tapes: </b>
  <%= @tapes.size %><br/> 
</p>

<table>
  <tr>
    <th></th>
    <th>Voltag</th>
    <th>Tape Label</th>
    <th>Backup Format</th>
    <th>Revision</th>
  </tr>

<% vol = 0 %>
<% tlabel = 0 %>


<% @tapes.each do |tape| %>
  <tr>
    <td>
    <% if tape.voltag != vol %>
    <%= link_to 'Save', :voltag => tape.voltag, :controller => 'saved_tapes' %>
    <% end %>
    </td>
    <td>
    <% if tape.voltag != vol %>
    <%=h tape.voltag %>
    <% end %>
    </td>
    <td>
    <% if tape.tapelabel != tlabel %>
    <%=h tape.tapelabel %>
    <% end %>
    </td>
    <td><%=h tape.bformat %></td>
    <td><%=h tape.rev %></td>
    <td><%= link_to 'Details', :voltag => tape.voltag, :controller => 'saved_tapes', :action => :yourtape %></td>
    <td><%= link_to 'Edit', edit_tape_path(tape) %></td>
    <td><%= link_to 'Destroy', tape, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% vol = tape.voltag %>
<% tlabel = tape.tapelabel %>
<% end %>
</table>


<!hr/>
<!%= will_paginate @tapes %>
<!hr/>





