<% content_for :title, "Search Results" %>


<h1>Your Results</h1>

<p>
  <b> Number of Tapes: </b>
  <%= @tapes.size %><br/> 
</p>

<table>
  <tr>
    <th></th>
    <th>Voltag</th>
    <th>Tape Label</th>
    <th>Backup Format</th>
    <th>Revision</th>
    <th>Size</th>
    <th> Backupsets</th>
  </tr>



<% @tapes.each do |tape| %>
  <tr>
    <% vol = tape.voltag %>
    <% bvol = 0 %>
    <% size = 0 %>
    <% i = 0 %>
    <td>
    <%= link_to 'Save', :voltag => tape.voltag, :controller => 'saved_tapes' %>
    </td>
    <td>
    <%=h tape.voltag %>
    </td>
    <td>
    <%=h tape.tapelabel %>
    <td><%=h tape.bformat %></td>
    <td><%=h tape.rev %></td>
    <% begin  %>
    <%  @backupsets.each do |b| %>
    <%   bvol = b.voltag %>
    <%   size = size + b.size %>
    <%   i = i + 1  %>
    <%  end while vol = bvol %>
    <% end %>
    <td> 
    <%=h size %>
    </td>
    <td>
    <%=h i %>
    </td>
    <td><%= link_to 'Details', :voltag => tape.voltag, :controller => 'saved_tapes', :action => :yourtape %></td>
    <td><%= link_to 'Edit', edit_tape_path(tape) %></td>
    <td><%= link_to 'Destroy', tape, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<!hr/>
<!%= will_paginate @tapes %>
<!hr/>





