<<<<<<< HEAD
<% content_for :title, "Search Results" %>


<h1>Your Results</h1>

<p>
  <b> Number of Results: </b>
  <%= @tapes.size %> 
</p>

<table>
  <tr>
    <th> Database ID </th>
    <th> Backupset ID</th>
    <th>Volume Tag</th>
    <th>Server</th>
    <th>Backup Format</th>
    <th>Backup Type</th>
    <th>Client Type</th>
    <th>Tape Label</th>
    <th>Size</th>
    <th>Revision</th>
    <th>Notes</th>
    <th>Test Case</th>
  </tr>

<% @tapes.each do |tape| %>
  <tr>
    <td><%=h tape.id%></td>
    <td><%=h tape.bsid%></td>
    <td><%=h tape.voltag %></td>
    <td><%=h tape.server %></td>
    <td><%=h tape.bformat %></td>
    <td><%=h tape.btype %></td>
    <td><%=h tape.bclient %></td>
    <td><%=h tape.tapelabel %></td>
    <td><%=h number_to_human_size(tape.size) %></td>
    <td><%=h tape.rev %></td>
    <td><%=h tape.note %></td>
    <td><%=if tape.testcase != 0 then link_to (tape.testcase, "http://kama.tworiverlabs.com/bugs/tr_show_case.cgi?case_id=#{tape.testcase}") else "none" end %></td>

    <td><%= link_to 'Show', tape %></td>
    <td><%= link_to 'Save', :controller => 'users', :action => 'save' %></td>
    <td><%= link_to 'Edit', edit_tape_path(tape) %></td>
    <td><%= link_to 'Destroy', tape, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<!hr/>
<!%= will_paginate @tapes %>
<!hr/>


<br />



=======
<% content_for :title, 'Search' %>
<h1> Search For any Tape </h1>
<p> Fill out as many or as little fields as you wish <p/>
<FORM>
<INPUT TYPE="BUTTON" VALUE="Clear Form" ONCLICK="window.location.href='http://tapedev.tworiverlabs.com/tapes/search'">
</FORM>


 
<% form_for (@tapes), :url => {:action => :results} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :voltag, "Volume Tag: " %><br/>
    <%= f.text_field :voltag %>
  </p>
  <p>
    <%= f.label :bsid, "Backupset ID:" %><br />
    <%= f.text_field :bsid %>
  </p>
  <p>
    <%= f.label :server, "Server Name: " %><br/>
    <%= f.text_field :server %>
  </p>
  <p>
    <%= f.label :bformat, "Backup Format: " %><br/>
    <%= f.collection_select :bformat, Tape::BFORMATS, :to_s, :to_s, :include_blank => true
    %>
  </p>

  <p>
   <%= f.label :btype, "Backup Type: " %><br/>
   <%= f.collection_select :btype, Tape::BTYPES, :to_s, :to_s, :include_blank => true
    %>
  </p>

    <p>
   <%= f.label :btype, "Backup Client: " %><br/>
   <%= f.collection_select :bclient, Tape::BCLIENTS, :to_s, :to_s, :include_blank => true
    %>
  </p>
  <p>
  <%= f.label "Test Case #" %><br/>
  <%= f.text_field :testcase %>
  </p>
  <p>
  <%= f.label :note, "Notes: " %><br/>
  <%= f.text_area :note, :rows => 7 %>
  </p>
    
  <p>
    <%= f.submit 'Search' %>
  </p>

<%end%> 
>>>>>>> 130446822d227477eaf5221348ec3c3e50e8be0e
