<% content_for :title, 'Search' %>
<h1> Search For any Tape </h1>
<p> Fill out as many or as little fields as you wish <p/>
<FORM>
<INPUT TYPE="BUTTON" VALUE="Clear Form" ONCLICK="window.location.href='http://tapes.tworiverlabs.com/tapes/search'">
</FORM>


 
<% form_for (@tapes), :url => {:action => :results} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :voltag, "Volume Tag: " %>
    <%= f.text_field :voltag %>
  
    
    <%= f.label :bformat, "Backup Format: " %>
    <%= f.collection_select :bformat, Tape::BFORMATS, :to_s, :to_s, :include_blank => true
    %>
  </p>

  <p>
   <%= f.label :btype, "Backup Type: " %>
   <%= f.collection_select :btype, Tape::BTYPES, :to_s, :to_s, :include_blank => true
    %>

   <%= f.label :btype, "Backup Client: " %>
   <%= f.collection_select :bclient, Tape::BCLIENTS, :to_s, :to_s, :include_blank => true
    %>
  </p>


  <p>
    <%= f.label :bsid, "Backupset ID:" %>
    <%= f.text_field :bsid %>
  
    <%= f.label :server, "Server Name: " %>
    <%= f.text_field :server %>
  </p>
  <p>
  <%= f.label :servertype, "Server Type: (Ex: Exchange 2003, Windows XP, Domino 8.0.1, etc..)" %><br/>
  <%= f.text_field :servertype %>
  </p>

  <p>
  <%= f.label "Test Case #" %>
  <%= f.text_field :testcase %>

  <%= f.label "Bug #" %>
  <%= f.text_field :bug %>

  </p>
  
  <p>
  <%= f.label :note, "Notes: " %><br/>
  <%= f.text_area :note, :rows => 7 %>
  </p>
    
  <p>
    <%= f.submit 'Search' %>
  </p>

<%end%> 


<p>
<html>
<body>
<img border="0" src="http://www.theposselist.com/wp-content/uploads/2010/01/Index-Engines-logo-1.jpg" width="304" height="155" />
</body>
</html>
</p>


