<% content_for :title, @tape.voltag %>


<p>
  <b> bsid:</b>
  <%=h @tape.bsid %>
</p>

<p>
  <b>Server:</b>
  <%=h @tape.server %>
</p>

<p>
  <b>Backupstamp:</b>
  <%=h @tape.backupstamp %>
</p>

<p>
  <b>Bformat:</b>
  <%=h @tape.bformat %>
</p>

<p>
  <b>Btype:</b>
  <%=h @tape.btype %>
</p>
<p>
  <b>Client Type:</b>
  <%=h @tape.bclient %>
<p>
  <b>Broot:</b>
  <%=h @tape.broot %>
</p>

<p>
  <b>Tapelabel:</b>
  <%=h @tape.tapelabel %>
</p>

<p>
  <b>Voltag:</b>
  <%=h @tape.voltag %>
</p>

<p>
  <b>Size:</b>
  <%=h number_to_human_size(@tape.size) %>
</p>

<p>
  <b>Revision:</b>
  <%=h @tape.rev %>
</p>

<%= link_to 'Edit', edit_tape_path(@tape) %> |
<%= link_to_function 'Back', "history.back()" %>
