<h1>New saved_tape</h1>

<% form_for(@saved_tape) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :voltag %><br />
    <%= f.text_field :voltag %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', saved_tapes_path %>