

<table>
  <tr>
    <th>Voltag</th>
    <th>Notes</th>
  </tr>

<% @saved_tapes.each do |saved_tape| %>
  <tr>
    <td><%=h saved_tape.voltag %></td>
    <td><%=h saved_tape.notes %></td>
    <td><%= link_to 'View', :voltag => saved_tape.voltag, :action => :yourtape %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add', new_saved_tape_path %>
<%= link_to_function 'Back', "history.back()" %>

