<% if session[:user_name] != nil %> 
<% content_for :title, session[:user_name] %>
<h1>
   Hello 
   <%= "#{session[:user_name]}" %>
<h1/> 
<% end %>



<table width="600">
<tr>
 <td> <%= button_to "Search", :controller => "tapes", :action => "search"%></td>
 <td> <%= button_to "New", :controller => "tapes", :action => "new"%></td>
 <td> <%= button_to "My Tapes", :controller => "saved_tapes", :action => "mytapes" %></td>  
 <td> <%= button_to "User Tapes",:controller => "user", :action => "users" %></td>
 <td> <%= button_to "Browse Playbacks", "http://192.168.192.111:3000/Playbacks", :target => '_blank' %></td>
 <td> <%= button_to "Logout",:controller => "user", :action => "logout" %></td>
</tr>
</table>

<p></p>

<p>
<html>
<body>
<img border="0" src="http://www.theposselist.com/wp-content/uploads/2010/01/Index-Engines-logo-1.jpg" width="304" height="155" />
</body>
</html>
</p>

<br/>
<p>
This site works best using Firefox. IE has some bugs I need to figure out and Chrome and Opera are not fully tested. 
</p>
<br/>
<p>
This is still currently a work in progress so any problems you see are being worked on or email me (apierce@indexengines.com) for questions or comments, feedback is greatly appreciated. The newest feature added was the ability to search by server type. example (Windows 2003, Domino 8.0.1, Exchange 5.5). Also a feature being worked on is the ability to download playbacks directly from this server. Click on the playback link to download the playback. Not all tapes haveplaybacks yet. The tapes that do are a majority of Commvault tapes (CV**), Tivoli tapes (INC0*), and some Arcserve tapes among others. These playbacks are from the mounted share 192.168.192.205:/QaPlaybacks. If you would like to browse these playbacks click the playback link above or choose another option to start.
<p/>
