<% content_for :title, "Sign Up" %>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <fieldset>
  <legend>Enter User Details</legend>

  <div>
    <%= f.label :user_name %>:
    <%= f.text_field :user_name, :size => 40 %>
  </div>
  <div>
    <%= f.label "First Name" %>
    <%= f.text_field :firstname %>
  </div>
  <div>
    <%= f.label :password, 'Password' %>:
    <%= f.password_field :password, :size => 40 %>
  </div>

  <div>
    <%= f.label :password, 'Confirm' %>:
    <%= f.password_field :password_confirmation, :size => 40 %>
  </div>

  <div>
    <%= f.submit "Signup", :class => "submit" %>
  </div>
  
  <%= link_to "Login", :controller => :user, :action => "login" %>
  
  </fieldset>
<% end %>

